@import './styles/normalizer'; 
@import './styles/variables';
@import './styles/mode';



#app{
    transition: all ease-in-out 0.3s;
    min-height: 100vh;
}
.darkapp{
    color: white;
    background: #2c2c2c;

}

.lightapp{
    color: #2c2c2c;
    background: white;
}

